<div class="page-header">
  <nav class="pull-right">
    <%%= boton_volver <%= class_name %> %>
  </nav>
  <h1><%= plural_name.humanize %></h1>
</div>

<%%= render "form", :<%= singular_table_name %> => @<%= singular_table_name %> %>